<html>
    <head>
    </head>
    <body>
        <script type="text/javascript">
                 /* i loice wrote this javascript code
                 to teach shetechs project participants 
                 this code was written btween 7th - 11th june 2021 */
                 document.writte("hello world <br>");
                 document.writte("how are you");
                 document.written("goodbye");
                 //string example
                 var money = "alicial";
                 linebreak;
                 document.writen(name);
                 linebreak;
                 console.log(name);


                 //number example
                 money = 400.00;
                 document.write(money);
                 document.write(linebreak);
                 country = "nigeria";

                 var A=3;
                 var body=5;
                 var A=A+B;
                 document.write("8");
                 document.write(linebreak);
                 document.write(B);

                 document.write("my name is "+name; "and my test score is "+ (



                
                 
                 
                     

        </script>

          </body>
         
        </html>